@import "utilities.css";

body {
    color: var(--primary-color);
    /* background-color: var(--screen-background-color); */
    background-color: var(--secondary-color);   
}

.main-content-subheading{
    color:var(--primary-color);
}
.header {
    display: flex;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-bottom: 0.2rem solid var(--screen-background-color);
    box-shadow: 0.5rem 0 0 var(--shadow-color);
    position: sticky;
    top:0;
    z-index:10;
    align-items: center;
}

.header-logo{
    margin:5rem;
}
.social-link{
    margin-top: auto;
}

.icon-btn{
    font-size: 3rem;
    margin:2rem;
}
.footer .icon-btn{
    font-size: 3rem;
}
.footer .icon-btn:hover{
    background-color: var(--primary-color);
    border-radius: 0.2rem;
}
.brand-link {
    margin-left: auto;
}

.brand{
    padding: 0 1rem;
}
.nav-heading{
    margin-top: 1.5rem;
}
.no-link {
    color: var(--primary-color);
}
.navbar .nav-heading{
    font-size: 2rem;
    padding: 1rem;
}
.navbar .no-link{
    font-size: 2rem;
}


main{
    overflow-y: auto;
    background-color: var(--secondary-color);
}
nav{
    /* font-size: 10rem; */
    border-right: 0.2rem solid var(--screen-background-color);
    /* box-shadow: 0.1rem 0 0 var(--shadow-color); */
}
nav.navigation-bar.demo-navigation {
    z-index: 0;
}
.navbar{
    background-color: var(--secondary-color);
    overflow-y: auto;
    /* height:560px; */
}
.navbar ul{
    margin-left:2rem;
}
.navbar li{
    padding: 0.5rem;
    margin:0.1rem;
}
.navbar li:hover{
    background-color: var(--shadow-color);
    border-radius: 1rem;
    cursor:pointer;
}
.navbar .active{
    background-color: var(--shadow-color);
    border-radius: 1rem;

}
.nav-mobile-heading{
    display: none;
}
.content{
    color:var(--black);
    /* width: 90%; */
    margin-left:2rem;
    /* padding:  */
}
.content>*{
    padding: 1rem;
}

.display-demo{
    border: 0.1rem solid var(--primary-color);
    border-radius: 1rem;
    margin:0 2rem 2rem;
    padding: 2rem;
    max-width: 100%;
    overflow-x: auto;
}
.code-snippet-container{
    margin:0 1rem 1rem;
}
/* #modal{
    z-index: ;
} */
.code-display {
    max-width: 100%;
    max-height: 500px;
    font-size: large;
    overflow: auto;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}
.badge-container p{
    font-size:1.5rem;
    padding:1rem;
}
.badge .bottom{
    bottom: 3rem;
}
.alert--container{
    margin:1rem;
    width: fit-content;
}
.avatar-container{
    margin:1rem
}
.buttons .icon-btn:hover{
    background-color: var(--secondary-color);
}
footer{
    border-top: 0.2rem solid var(--screen-background-color);
}

/* grids layout of website*/

.grid-container{
    display:grid;
    height:100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.75fr;
    grid-template-areas:
        "header header header header header"
        "nav main main main main"
        "nav main main main main"
        "nav main main main main"
        "nav main main main main"
        "nav main main main main"
        "nav footer footer footer footer";
}
header{
    grid-area:header;
    display: flex;
    justify-content: space-between; 
}
/* aside{
    grid-area:aside;
} */
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    background-color: var(--secondary-color);
    grid-area:footer;
}


/* for mobile screens and tablet screens*/
@media screen and (max-width: 768px){
    body{
        font-size: 10px;
    }
    .grid-container{
        display:grid;
        height:100vh;
        width: 100vw;
        grid-template-columns: 1fr ; 
        grid-template-rows: 0.25fr 2fr 0.25fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    header{
        grid-area:header;
    }
    nav{
        display: none;
        /* grid-area: nav;
        width: 100vw;
        height: auto; */
    }
    .navbar {
        /* z-index: 10; */
        display: block;
        height: 90vh;
        overflow: scroll;
        width: 70vw;
        background-color: gainsboro;
    }
    .nav-mobile-heading{
        display: block;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area:footer;
    }
    .content{
        margin:0
    }
    .display-demo {
        border: 0rem solid var(--primary-color);
        border-radius: 1rem;
        margin: 0;
        max-width: 100%;
        overflow-x: auto;
    }
    .brand-name{
        display: none;
    }
    .nav-menu{
        z-index: 10;
        top:10vh;
    }
    nav{
        overflow: scroll;
    }

}
.horizontal-card-img {
    width: 200px;
    height: auto;
    border-radius: 1rem;
    /* margin-top: 1rem; */
}
.navigation-bar{
    justify-content: center;
    align-items: center;
}
.aside-tab.navbar.flex.flex-direction-col {
    width: 200px;
}
