*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    font-family:sans-serif;
    font-size:62.5%;


    /* border radius*/
    --border-radius-s:0.125rem;
    --border-radius-m:0.25rem;
    --border-radius-l:0.5rem;
    --border-radius-xl:1rem;
    --border-radius-circle:50%;


    /* colors */
    /* --secondary-color:#41B3E6; */
    /* --secondary-color:#134074; */
    --primary-color:#08415c;
    --cta-color:#07529D;

    /* --primary-color:#41B3E6;  */
    --screen-background-color:#ECF8FD;
    /* --screen-background-color:#E2F3FB; */
    --shadow-color:#ADDAF2;
    /* --primary-color:#41B3E6; */
    --secondary-color:#ffffff;
    /* --cta-color:#134074; */
    --other-color:#8ab0ab;
    --black:#020202;
    /* --white:; */


    /* Alerts */
    --success-background-color: lightgreen;
	--success-color: darkgreen;
	--error-background-color: lightcoral;
	--error-color: darkred;
	--warning-background-color: lightyellow;
	--warning-color: darkgoldenrod;
	--info-background-color: skyblue;
	--info-color: darkblue;


    /* Avatars */
	--online-badge-color: green;
	--away-badge-color: yellow;
	--busy-badge-color: red;

    /* Inputs */
	--valid-color: green;
	--invalid-color: red;


    /* Spacing */
    --space-0-25: 0.25rem;
    --space-0-5: 0.5rem;
    --space-0-75: 0.75rem; 
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-3-5: 3.5rem;
    --space-4: 4rem;
    --space-4-5: 4.5rem;
    --space-5: 5rem;
    --space-5-5: 5.5rem;
    --space-6: 6rem;
    --space-6-5: 6rem;

    /* paddings */
    --p6:0.2rem;
    --p5:0.5rem;
    --p4:1rem;
    --p3:1.5rem;
    --p2:2rem;
    --p1:2.5rem;

    /* media size */
    --device-l:1200px;
    --device-m:992px;
    --device-s:768px;
    --device-xs:575px;
    
}

html,body{
    height: 100%;
    max-width:100%;
}

.grid-container{
    display:grid;
    /* height:100vh; */
    grid-gap:10px; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header header"
        "nav main main main aside"
        "nav main main main aside"
        "nav main main main aside"
        "nav main main main aside"
        "nav main main main aside"
        "footer footer footer footer footer"
}
header{
    grid-area:header;
    display: flex;
    justify-content: space-between; 
}
aside{
    grid-area:aside;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area:footer;
}

/* for tablet screens */
@media only screen and(max-width: 900px){
    .grid-container{
        display:grid;
        /* height:100vh; */
        grid-gap:10px; 
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "nav main main "
            "nav main main"
            "nav main main"
            "nav main main"
            "nav main main"
            "footer footer footer"
    }
    header{
        grid-area:header;
        /* display: flex;
        justify-content: space-between;  */
    }
    /* aside{
        grid-area:aside;
    } */
    nav{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area:footer;
    }
    
}
/* for mobile screens */
@media only screen and(max-width: 600px){
    .grid-container{
        display:grid;
        /* height:100vh; */
        grid-gap:10px; 
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer"
    }
    header{
        grid-area:header;
        /* display: flex;
        justify-content: space-between;  */
    }
    nav{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area:footer;
    }
    
}


/* header styling */
.header{
    padding: var(--p4);
    color: var(--secondary-color);
}
.navbar{
    padding:var(--p4);
}